# Dependências
/vendor
/node_modules

# Ambiente
.env
.env.backup
.env.production

# Logs
npm-debug.log
yarn-error.log

# Cache e build
/public/build
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
.phpunit.cache

# Laravel
bootstrap/compiled.php
app/storage
storage/pail

# Homestead
Homestead.yaml
Homestead.json
/.vagrant

# IDEs e ferramentas
/.idea
/.vscode
/.fleet
.phpactor.json
auth.json